<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube 💬 Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="top-container">
        <div class="header">
            <h1>YouTube 💬 Chat</h1>
            <p class="subtitle">Ask Questions and Get the Clips</p>
        </div>
    </div>
    <div class="bottom-container">
        <div class="content">
            <div class="left">
                <form id="queryForm">
                    <div class="form-group">
                        <input type="text" id="video_id" name="video_id" required placeholder="Enter the YouTube Video ID">
                    </div>
                    <div class="form-group">
                        <label for="user_question">What's Your Question?</label>
                        <textarea id="user_question" name="user_question" required class="large-input"></textarea>
                    </div>
                    <button type="submit">Get the Answer</button>
                </form>
                <div class="response" id="response"></div>
            </div>
            <div class="right">
                <div id="videoContainer"></div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
